.homeSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  .sideBar {
    position: relative;
    top: 0;
    left: 0;
    width: 12vw;
    position: fixed;
  }

  .homeContainer {
    position: relative;
    max-width: 88vw;
    width: 88vw;
    top: 0;
    left: 0;
    left: 12vw;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;

    .navBar {
      position: relative;
      // top: 0;
      width: 88vw;
    }

    .products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // position: relative;
      // left: 5vw;
      // margin-top: 15px;
      // margin-left: 5vw;
      .movieStyle {
        color: #000000;
        font-weight: bold;
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 600px) {
  .homeSearch {
    width: 100vw;
    .sideBar {
      position: fixed;
      width: 20vw;
    }

    .homeContainerSearch {
      width: 80vw;
      max-width: 80vw;
      left: 20vw;

      .navBar {
        width: 79vw;
      }

      .products {
        width: 65vw;
      }
    }
  }
}
@media (min-width: 650px) and (max-width: 1024px) {
  .homeSearch {
    width: 100vw;
    .sideBar {
      width: 20vw;
      position: relative;
    }

    .homeContainerSearch {
      width: 80vw;
      max-width: 80vw;
      left: 0;

      .navBar {
        width: 79vw;
      }

      .products {
        width: 65vw;
      }
    }
  }
}
