.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  flex-direction: row;

  .sideBar {
    position: relative;
    top: 0;
    left: 0;
    width: 12vw;
    position: fixed;
  }

  .homeContainer {
    position: relative;
    max-width: 88vw;
    width: 88vw;
    top: 0;
    left: 0;
    left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .navBar {
      position: relative;
      // top: 0;
      width: 88vw;
    }

    .movieStyle {
      color: #000000;
      font-weight: bold;
      font-size: 36px;
    }

    .products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 15px;
      // margin-left: 5vw;
    }
    .widgets {
      display: flex;
      padding: 20px;
      margin-top: 15px;
      margin-left: 5vw;
    }
  }
}

@media (max-width: 600px) {
  .home {
    width: 100vw;
    .sideBar {
      position: fixed;
      width: 20vw;
    }

    .homeContainer {
      width: 80vw;
      max-width: 80vw;
      left: 20vw;

      .navBar {
        width: 79vw;
      }

      .products {
        width: 65vw;
      }
    }
  }
}
@media (min-width: 650px) and (max-width: 1024px) {
  .home {
    width: 100vw;
    .sideBar {
      width: 20vw;
      position: relative;
    }

    .homeContainer {
      width: 80vw;
      max-width: 80vw;
      left: 0;

      .navBar {
        width: 79vw;
      }

      .products {
        width: 65vw;
      }
    }
  }
}
