.new {
  width: 100%;
  display: flex;

  .newContainer {
    width: 85vw;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 500px;
          height: 500px;

          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        width: 40vw;
        margin-top: 8vh;

        form {
          display: flex;
          flex-direction: column; /* Change to column to stack elements vertically */
          gap: 30px;
          justify-content: space-around;

          .formInput {
            margin-left: 2vw;
            width: 30vw;
            order: 1; /* Ensure this appears first */

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          .error {
            margin-left: 2vw;
            order: 2;
            color: red;
            font-size: 26px;
          }

          button {
            margin-left: 2vw;
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            transition-duration: 0.3s;
            order: 3; /* Ensure this appears last */
          }
          button:hover {
            filter: brightness(120%);
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
