.home {
  //nếu bật absolute thì sẽ không nhận dark mode được
  // position: absolute;

  max-width: 99vw;

  .right {
    width: 90vw;

    .movieStyle {
      padding-top: 10px;
      color: #000000;
      font-weight: bold;
      font-size: 36px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 600px) {
  .home {
    max-width: 100vw;
    overflow-x: hidden;

    .left {
      width: 20vw;
    }
    .right {
      width: 80vw;
    }
  }
}
