.home {
  //nếu bật absolute thì sẽ không nhận dark mode được
  // position: absolute;

  width: 100vw;

  .left {
    position: relative;
    top: 0;
  }

  .right {
    position: relative;
    width: 90vw;

    .movieStyle {
      padding-top: 10px;
      color: #000000;
      font-weight: bold;
      font-size: 36px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 600px) {
  .home {
    position: absolute;
    width: 100vw;
    .left {
      // display: none;
      position: relative;
      top: 0;
      width: 20vw;
    }

    .right {
      position: relative;
      left: 0px;
      width: 85vw;
    }
  }
}
