.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;

  .sideBar {
    position: relative;
    top: 0;
    left: 0;
    width: 12vw;
  }

  .homeContainer {
    position: relative;
    top: 0;
    padding: 0px;
    width: 88vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .home {
    display: flex;
    width: 100vw;
    .homeContainer {
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
