.home {
  //nếu bật absolute thì sẽ không nhận dark mode được
  // position: absolute;

  // max-width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .left {
    position: relative;
    top: 0;
    left: 0;
    width: 12vw;
  }

  .right {
    position: relative;
    max-width: 88vw;
    width: 88vw;
    top: 0;
    left: 0;

    .navBar {
      position: relative;
      top: 0;
    }

    .movieStyle {
      padding-top: 10px;
      color: #000000;
      font-weight: bold;
      font-size: 36px;
      transition: 0.3s;
    }
  }
}

@media (max-width: 600px) {
  .home {
    width: 100vw;

    .left {
      width: 20vw;
    }
    .right {
      width: 80vw;
      max-width: 80vw;

      .navBar {
        width: 79vw;
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .home {
    width: 100vw;

    .left {
      width: 20vw;
    }
    .right {
      width: 80vw;
      max-width: 80vw;

      .navBar {
        width: 79vw;
      }
    }
  }
}
