.home {
  display: flex;
  width: 100vw;

  .homeContainer {
    // flex: 6;
    padding: 0px;
    width: 90vw;
    display: flex;
    flex-direction: column;

    .addProduct {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      width: fill;
      margin-left: 2vw;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: teal;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition-duration: 0.3s;
    }

    .addProduct:hover {
      filter: brightness(120%);
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      margin-top: 15px;
      margin-left: 5vw;
    }
    .widgets {
      display: flex;
      padding: 20px;
      margin-top: 15px;
      margin-left: 5vw;
    }
  }
}

@media (max-width: 600px) {
  .homeContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .products {
      // margin-top: 15px;
      margin-left: 50px;
      width: 65vw;
    }
  }
  .widgets {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
