.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 90vh;
  transition-duration: 0.3s;

  .upper {
    .icon {
      font-size: 200px;
      border-radius: 15px;
    }
  }

  .down {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-weight: bold;
      font-size: 24px;
      color: rgb(69, 69, 69);
    }

    .counter {
      font-size: 25vh;
      font-weight: 300;
    }
  }
}

.widget:hover {
  cursor: pointer;
  filter: brightness(120%);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.widget--user {
  margin: 8px;
  background-color: rgba(255, 0, 0, 0.2);
}

.widget--order {
  margin: 8px;
  background-color: rgba(218, 165, 32, 0.2);
}

.widget--store {
  margin: 8px;
  background-color: rgba(0, 128, 0, 0.2);
}

@media (max-width: 600px) {
  .widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;

    .upper {
      .icon {
        display: flex;
        margin: 10px;
        font-size: 130px;
        border-radius: 15px;
      }
    }

    .down {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(69, 69, 69);
      }

      .counter {
        font-size: 10vw;
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;

    .upper {
      .icon {
        display: flex;
        margin: 10px;
        font-size: 130px;
        border-radius: 15px;
      }
    }

    .down {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(69, 69, 69);
      }

      .counter {
        font-size: 10vw;
        font-weight: 300;
      }
    }
  }
}
