.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 90vh;
  transition-duration: 0.3s;

  .upper {
    .icon {
      font-size: 200px;
      border-radius: 15px;
    }
  }

  .down {
    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(69, 69, 69);
    }

    .counter {
      font-size: 25vh;
      font-weight: 300;
    }
  }
}

.widget:hover {
  cursor: pointer;
  filter: brightness(120%);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.widget--user {
  background-color: rgba(255, 0, 0, 0.2);
}

.widget--order {
  background-color: rgba(218, 165, 32, 0.2);
}

.widget--store {
  background-color: rgba(0, 128, 0, 0.2);
}
