.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(230, 227, 227);

    .logo {
      font-size: 30px;
      font-weight: bold;
      color: #6439ff;
      border: none;
    }
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 14px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        color: #7451f8;

        &:hover {
          background-color: #373637;
          color: aqua;
          transition: 0.15s;
        }

        .icon {
          font-size: 25px;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #999;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .options {
      display: flex;

      .colorOption {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1) {
          background-color: whitesmoke;
        }
        &:nth-child(2) {
          background-color: #333;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 20vw;
  }
  span {
    display: none;
  }
}
